<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">rosterwebnet</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <!--<span class='glyphicon glyphicon-education'></span> Counter-->
                        <i class="fa fa-calculator" aria-hidden="true"></i> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/sea-turtles']">
                        <span class='glyphicon glyphicon-th-list'></span> Sea Turtles
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/holding-tanks']">
                        <span class='glyphicon glyphicon-th-list'></span> Holding Tanks
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/hatchlings']">
                        <span class='glyphicon glyphicon-th-list'></span> Hatchlings
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/washbacks']">
                        <span class='glyphicon glyphicon-th-list'></span> Washbacks
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/organizations']">
                        <span class='glyphicon glyphicon-th-list'></span> Organizations
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/users']">
                        <span class='glyphicon glyphicon-th-list'></span> Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
